.navbar-default {
  padding-top: 10px;
  height: 65px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

ul.nav a { 
  color: $color-white !important;

  &:hover {
    color: $color-light-grey !important;
  }
}