$color-white: #fff;
$color-black: #000;
$color-light-grey: #dcdcdc;

// Material Design Colors

$color-indigo-700: #303f9f;

$color-cyan-800: #00838f;
$color-cyan-900: #006064;

$color-amber-500: #ffc107;
$color-amber-600: #ffb300;
$color-amber-900: #ff6f00;

$color-blue-500: #2196f3;
$color-blue-600: #1e88e5;
$color-blue-900: #0d47a1;

$color-blue-grey-50: #eceff1;
$color-blue-grey-300: #90a4ae;
$color-blue-grey-500: #607d8b;

$color-grey-900: #212121;