$color-white: #fff;
$color-black: #000;
$color-light-grey: #dcdcdc;

$color-indigo-700: #303f9f;

$color-cyan-900: #006064;

$color-amber-600: #ffb300;
$color-amber-800: #ff8f00;

$color-light-blue-900: #01579b;