$color-white: #fff;
$color-black: #000;
$color-light-grey: #dcdcdc;

// Material Design Colors

$color-indigo-700: #303f9f;

$color-cyan-900: #006064;

$color-amber-600: #ffb300;
$color-amber-800: #ff8f00;

$color-blue-500: #2196F3;
$color-blue-900: #0d47a1;

$color-blue-grey-50: #eceff1;
$color-blue-grey-500: #607d8b;