@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

$font-family-body: "Roboto", sans-serif;
$font-family-headings: "Roboto Slab", serif;
$font-family-button: "Roboto", sans-serif;

$font-size-mega: 3.5em;
$font-size-kilo: 2.5em;
$font-size-hecto: 2em;
$font-size-deca: 1.5em;
$font-size-base: 1em;
$font-size-deci: 0.875em;
$font-size-centi: 0.625em;